* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.painel
{
    position: absolute;
    width: 45%;
    height: 68%;
    left: 27%;
    top: 15%;

    background: #1B5088;
    box-shadow: 12.35px 10px 10px rgba(100, 66, 130, 0.25);
    border-radius: 20px;
}

.voltar
{
    position: absolute;
    width: 68%;
    height: 8%;
    left: 4%;
    top: 2%;

    font-family: 'Joan';
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    line-height: 5vh;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


.mensagem_redefinir
{
    position: absolute;
    width: 90%;
    height: 8%;
    left: 27.9%;
    top: 13%;

    font-family: 'Joan';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vh;
    line-height: 2vh;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mensagem1  
{
    position: absolute;
    width: 68%;
    height: 8%;
    left: 20%;
    top: 33%;

    font-family: 'Joan';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 3vh;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mensagem2
{
    position: absolute;
    width: 15%;
    height: 8%;
    left: 22%;
    top: 55%;

    font-family: 'Joan';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 3vh;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.caixa
{
    font-size: 3vh;
    position: absolute;
    width: 60%;
    height: 9%;
    left: 20%;
    top: 60%;
    background: #FFFEFE;
    border: 1.6px solid #000000;
    backdrop-filter: blur(40px);
    border-radius: 16px;
    text-align: center;  
}

.resetar
{
    cursor: pointer;
    position: absolute;
    height: 12%;
    width: 75%;
    top: 79%;
    left: 12.5%;

    background: linear-gradient(0deg, #64AEF3, #64AEF3), linear-gradient(0deg, #FFFEFE, #FFFEFE), #FFFEFE;
    border: 5.2px solid #0084FF;
    box-shadow: 26px 10px 23.7px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;
    line-height: 2vh;

    color: #000000;
}

.resetar:active 
{
  transform: translateY(4px);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);
}

