* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.painel
{
  position: absolute;
  width: 27%;
  height: 68%;
  left: 34.8%;
  top: 15%;

  background: #1B5088;
  box-shadow: 12.35px 10px 10px rgba(100, 66, 130, 0.25);
  border-radius: 20px;
}

.logo
{

  position: absolute;
  width: 50%;
  height: auto;
  left: 26%;
  top: -1%;

}

.mensagem
{
  position: absolute;
  width: 90%;
  height: 8%;
  left: 11%;
  top: 39%;

  font-family: 'Joan';
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 2vh;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login
{
    cursor: pointer;
    position: absolute;
    height: 12%;
    width: 74%;
    top: 73%;
    left: 13.5%;

    background: linear-gradient(0deg, #64AEF3, #64AEF3), linear-gradient(0deg, #FFFEFE, #FFFEFE), #FFFEFE;
    border: 5.2px solid #0084FF;
    box-shadow: 26px 10px 23.7px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;
    line-height: 2vh;

    color: #000000;
}

.login:active 
{
  transform: translateY(4px);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);
}


